.InfoList {
  background-color: rgb(144, 184, 245);
  margin-left: 300px;
  padding: 10px;
}

.characterInfo {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.name,
.stories {
  width: 20%;
}

.name {
  color: rgb(6, 6, 186);
}

img {
  width: 80px;
  float: right;
}

select {
  background-color: rgb(6, 6, 186);
}

.filterTitle {
  margin-right: 5px;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  border: 2.5px solid;
  padding: 5px;
}

.Search {
  margin-right: 20px;
}
