.Menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Menu a {
  color: black;
  font-size: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

.Menu a:hover {
  color: rgb(195, 5, 5);
}
