.Menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Menu a {
  color: black;
  font-size: 20px;
  padding-bottom: 20px;
}
.Menu a:link {
  text-decoration: none;
}
.Menu a:hover {
  color: hotpink;
}
